﻿@{
    ViewData["Title"] = "Home Page";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div class="input-group mb-3">
    <input id="address" type="text" class="form-control" placeholder="Enter address" aria-label="Enter address" aria-describedby="basic-addon2" required>
    <div class="input-group-append">
        <button id="search" class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
</div>

<ul class="list-group" id="results" />

<script>

    $('#search').on('click', function (e) {
        $.ajax({
            type: "GET",
            url: "/api/AddressList",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                input: $("#address").val()
            },
            success: function (data) {
                $('#results').empty();
                $.each(data, function (i, item) {
                    var li = "<li class='list-group-item'>" + item.address + " (" + item.distanceText + ")</li>";
                    $('#results').append(li);
                }); 
            },
            failure: function (data) {
                alert(data.responseText);
            },
            error: function (data) {
                alert(data.responseText);
            }
        });
    });

</script>
